/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* White theme */
}

.main-container {
  padding-top: 120px;
  padding-bottom: 100px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  background-image: url("./bansal\ img.jpg"); /* Change the image URL */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #0056b3;
}

.ewaste-info {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.ewaste-info h3 {
  color: #333;
}

.ewaste-info p {
    color: #555;
}
